header{
    background-color: darkcyan;
    padding: 10px;

    display: flex;
    align-items: center;
   justify-content: space-between;
  
    
    }

a{
    color: aliceblue;
    text-decoration: none;
    margin: 15px;
  
}
#titulos{
    text-align: right;
   
}
h4{
    margin-top: -20px;
}