 #ejercicio1 {
    width: 100px;
    height: 200px;
    margin: 0;
    padding: 0;
    border: 0cap;
}
#ejercicio2{
    margin: 20px;
}
#ejercicio3{
    padding: 10px;
    background-color: aqua; /* esto es para comprobar ;)*/
}
#ejercicio4{
    border: 2px solid red;
}
#ejercicio5{
    width: 150px;
    margin-left: 10px;
}
#ejercicio6{
    border: 3px; 
}
#ejercicio7 li{
    padding: 15px;
}
#ejercicio8{
    margin-bottom: 30px;
    margin-right: 10px;
}
#ejercicio9{
    padding-top: 20px;
    padding-bottom: 10px;
    padding-left:5px ;
    padding-right: 5px;
}
#ejercicio10{
    width: 300px;
    height: 200px;
    margin: 25px;
}
#ejercicio11{
    width: 250px;
    height: 150px;
    border: solid ;
    padding: 20px;
}
#ejercicio12{
    margin-right: 15px;
    padding: 10px;
}
#ejercicio13{
    max-width: 400px;
margin: 0;
}
#ejercicio14{
    border: solid green;
}
#ejercicio15{
    width: 120px;
    margin-top: 10px;
    padding: 5px;
}