p {
    background-color: yellow;
}

.special {
    font-size: 24px;
}

div .highlight {
    background-color: green;
}

a[href] {
    color: blue;
}

img[src$=".jpg"] {
    border: 2px red solid;
}

a:hover {
    background-color: red;
}

p::first-line {
    background-color: purple;
}

li:first-child {
    font-style: italic;
}

.enlaces:focus {
    background-color: aqua;
    border-color: blue;
    /* ejer9 NO SE APLICA EL BORDER COLOR PERO EL BACKGROUND SI */
}

.warning::before {
    content: "⚠️";
}

p:last-child {
    background-color: yellowgreen;
}

.note::after {
    content: "📩";
}

a:visited {
    color: grey;
}

.quote::first-line {
    font-style: oblique;
}

li:nth-child(odd) {
    font-weight: bold;
}