body{
    display: flex;
    background-color: violet;
    width: 90%;
    height: 180px; 
}
#recomendaciones{
  color: darkorchid;
   background-color: green;
   border-radius: 20px;
   padding: 20px;
  
  
}
li{
    list-style: none;
   line-height:25px ;
 
   
}
#principal{
    margin: 10px;
    margin-right: 50px;
}