#ejercicio1 {
background-color: deepskyblue;
}
#ejercicio2-1 {
background-color: #029356
}
#ejercicio2-2 {
background-color: #765478;
}
#ejercicio2-3 {
background-color: #764512 
} 
#ejercicio3 {
background-color: rgb(123 563 254); 
}
#ejercicio4-1 {
background-color: hsl(058, 50%, 25%);
}
#ejercicio4-2 {
background-color: hsl(108, 90%, 50%);
}
